<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %> 
</head>
<body>
  <div class="m-5 pb-3">
    <h1>Log In</h1><br><br>
    <% if (errors) { %>
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          <% errors.forEach(el => { %>
            <p><%= el %> </p>
          <% }) %>
        </div>
      </div>
    <% } %>
    <form action="/user/login" method="post">
      <div class="mb-3">
        <label class="form-label">Email</label><br>
        <input type="text" class="form-control" name="email"><br>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label><br>
        <input type="password" class="form-control" name="password"><br>
      </div>
      <button type="submit" class="btn btn-primary">Sumbit</button>
    </form>
  </div>
</body>
</html>