<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %> 
</head>
<body>
  <div class="m-5 pb-3">
    <h1>Register</h1><br><br>
    <form action="/auth/register" method="post">
      <div class="mb-3">
        <label class="form-label">Email</label><br>
        <input type="text" class="form-control" name="email"><br>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label><br>
        <input type="password" class="form-control" name="password"><br>
      </div>
      <button type="submit" class="btn btn-primary">Sumbit</button>
    </form>
  </div>
</body>
</html>