<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Courses</title>
</head>
<body>
    <h1>Add new courses</h1>
    <form action="/course/add" method="post">
        <div>
            <label for="">Courses name: </label>
            <input type="text" name="name" id="">
        </div>
        <div>
            <label for="">Description: </label> <br>
            <textarea name="description" id="" cols="50" rows="10"></textarea>
        </div>
        <div>
            <label for="">Duration (in hour):</label>
            <input type="number" name="" id="">
        </div>
        <div>
            <label for="">Category:</label>
            <select name="CategoryId" id="">
                <option value="" selected disabled>--select category--</option>
                <option value="1">Javascript</option>
                <option value="2">SQL</option>
                <option value="1">Python</option>
            </select>
        </div>
        <a href=""><button type="submit">SUBMIT</button></a>
    </form>
</body>
</html>