<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %> 
</head>
<body>
  <div class="m-5 pb-3">
    <h1>Course List</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Category</th>
        </tr>
      </thead>
    </table>
  </div>
</body>
</html>